workflows/bitcoin-alert/bitcoin-alert.json
{
  "name": "Bitcoin Price Alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -368,
        -16
      ],
      "id": "7bee8ba0-aba3-4dd0-9cd3-1c67e71fbe66",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.binance.com/api/v3/ticker/price?symbol=BTCUSDT",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -160,
        -16
      ],
      "id": "5a792776-4c7a-4037-8576-292b392cb100",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const priceString = $input.first().json.price;\nconst priceNumber = Number(priceString);\n\nreturn [{\n  json: {\n    symbol: $input.first().json.symbol,\n    price: priceNumber,\n    price_formatted: `$${priceNumber.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2})}`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        -16
      ],
      "id": "a7c6f4a3-fd50-4d9e-b16e-0a62c64465ef",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "17973302-25ad-4039-b45d-69d6c2bdad80",
              "leftValue": "={{ $json.price }}",
              "rightValue": 99999999999,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        256,
        -16
      ],
      "id": "46480b6d-3b0f-4ad6-b7d6-cb555422ad19",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=🚀 BTC MOON! Harga sekarang: {{ $json.price_formatted }}  Update setiap 30 menit.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        -112
      ],
      "id": "20645094-a0e4-41fe-902d-733795fb74a9",
      "name": "Send a text message",
      "webhookId": "54ad237d-7335-4057-9d6f-98f32a48c066",
      "credentials": {
        "telegramApi": {
          "id": "xb4yTFN8L9BrbXuR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "276441270",
        "text": "=📉 BTC tur nih. Harga sekarang: {{ $json.price_formatted }}  Update setiap 30 menit.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        80
      ],
      "id": "4e288ce9-52dc-4bac-a3dd-2ce3a8ee292f",
      "name": "Send a text message1",
      "webhookId": "5c66d9b3-997e-4e1a-846b-0a757a8a8bec",
      "credentials": {
        "telegramApi": {
          "id": "xb4yTFN8L9BrbXuR",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c0b6b11f-33ea-4229-b0dd-b8e85e3a71ce",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a53019a4589b3a51726a36f0c4f035efd15357f4bbd08d1f1ec6d32c096e1179"
  },
  "nodeGroups": [],
  "id": "0sAOB5E6jyIUxboi",
  "tags": []
}
