workflows/crud-todo/crud-todo.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-720, -32],
      "id": "22472b11-8b2b-4148-ad26-3b0bd37908ca",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/todos?_limit=3",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-560, -32],
      "id": "7c580eb6-ce3e-4ddc-992f-aadc1f82e729",
      "name": "GET - Ambil Todos",
      "notes": "GET - Ambil Todos"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jsonplaceholder.typicode.com/todos",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"userId\": 1,\n  \"title\": \"Belajar n8n Modul 3\",\n  \"completed\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-384, -32],
      "id": "fb05099a-f7c2-4c24-a15a-d8ba5f54cf28",
      "name": "POST - Buat Todo Baru",
      "executeOnce": true,
      "notes": "POST - Buat Todo Baru"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://jsonplaceholder.typicode.com/todos/1",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"userId\": 1,\n  \"id\": 1,\n  \"title\": \"Todo sudah diganti seluruhnya\",\n  \"completed\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-208, -32],
      "id": "4e9496a2-9d6b-4fa8-8c90-2011386c4685",
      "name": "PUT - Replace Todo"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "https://jsonplaceholder.typicode.com/todos/1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [0, -32],
      "id": "f1e72989-b36c-4c02-b5be-18c0b74e8f90",
      "name": "DELETE - Hapus Todo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6e26fcb0-5a0e-4f3f-b1bb-4c1399fceb3c",
              "name": "get_result",
              "value": "={{ $('GET - Ambil Todos').first().json.title }}",
              "type": "string"
            },
            {
              "id": "302cdaa6-5da1-446c-b608-4ab6927bc948",
              "name": "post_result",
              "value": "={{ $('POST - Buat Todo Baru').first().json.title }}",
              "type": "string"
            },
            {
              "id": "e4b4dd99-68c4-4703-8b92-eac1145b46b8",
              "name": "put_result",
              "value": "={{ $('PUT - Replace Todo').first().json.title }}",
              "type": "string"
            },
            {
              "id": "76142939-4c55-459e-a6fb-d259d8525969",
              "name": "delete_result",
              "value": "Berhasil dihapus (response kosong)",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [176, -32],
      "id": "46f36ce7-4f80-41b2-bbfa-3ca913d9a787",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [[{"node": "GET - Ambil Todos", "type": "main", "index": 0}]]
    },
    "GET - Ambil Todos": {
      "main": [[{"node": "POST - Buat Todo Baru", "type": "main", "index": 0}]]
    },
    "POST - Buat Todo Baru": {
      "main": [[{"node": "PUT - Replace Todo", "type": "main", "index": 0}]]
    },
    "PUT - Replace Todo": {
      "main": [[{"node": "DELETE - Hapus Todo", "type": "main", "index": 0}]]
    },
    "DELETE - Hapus Todo": {
      "main": [[{"node": "Edit Fields", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "a53019a4589b3a51726a36f0c4f035efd15357f4bbd08d1f1ec6d32c096e1179"
  }
}
